node_flow/chat.json
[{"id":"39422144.33ec0e","type":"function","z":"31154d95.d37f02","name":"Pic Buffer","func":"msg.payload = msg.payload.pic;\nvar d=new Date();\nmsg.filename = \"ChatApp/\"+msg.room+\"/\"+d.getFullYear()+d.getMonth()+d.getDate()+d.getHours()+d.getMinutes()+d.getSeconds()+d.getMilliseconds()+\".jpg\";\nreturn msg; \n","outputs":1,"noerr":0,"x":800,"y":120,"wires":[["f8ed132a.13427","31b6e244.2f0aae"]]},{"id":"4c5b5ace.017764","type":"base64","z":"31154d95.d37f02","name":"","action":"","property":"payload.pic","x":660,"y":120,"wires":[["39422144.33ec0e"]]},{"id":"5c5dd053.2cc4b","type":"function","z":"31154d95.d37f02","name":"","func":"msg.payload.pic=msg.payload.message.message;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["4c5b5ace.017764"]]},{"id":"31b6e244.2f0aae","type":"function","z":"31154d95.d37f02","name":"","func":"msg.data.message.message=msg.filename;\nmsg.payload = {username: msg.socketIOStaticProperties.username,\n                message: msg.data.message,\n                \n};\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":160,"wires":[["d0633e32.a0f45","5759b7e8.c9c9c8","132ddea.73d4221"]]},{"id":"f8ed132a.13427","type":"file","z":"31154d95.d37f02","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":950,"y":120,"wires":[]},{"id":"d0633e32.a0f45","type":"debug","z":"31154d95.d37f02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1170,"y":160,"wires":[]},{"id":"1446f87a.7d3b28","type":"file in","z":"31154d95.d37f02","name":"","filename":"","format":"","sendError":true,"x":670,"y":60,"wires":[["680a0bf1.aef0c4"]]},{"id":"84c7c682.3ffde8","type":"http in","z":"31154d95.d37f02","name":"","url":"/getimage","method":"get","upload":false,"swaggerDoc":"","x":280,"y":60,"wires":[["8eea66c4.c0d128"]]},{"id":"680a0bf1.aef0c4","type":"function","z":"31154d95.d37f02","name":"Set Content-Type header","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":60,"wires":[["340a2ba6.a06154"]]},{"id":"8eea66c4.c0d128","type":"function","z":"31154d95.d37f02","name":"File_Path","func":"msg.filename =msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":60,"wires":[["1446f87a.7d3b28"]]},{"id":"340a2ba6.a06154","type":"http response","z":"31154d95.d37f02","name":"","statusCode":"","headers":{"content-type":"image/jpg"},"x":1070,"y":60,"wires":[]},{"id":"99627a47.6b7238","type":"switch","z":"31154d95.d37f02","name":"","property":"data.message.type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"text","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":200,"wires":[["5c5dd053.2cc4b"],["5759b7e8.c9c9c8"]]},{"id":"4183c249.79f5dc","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"6e070800.a89918","name":"","collection":"chat","operation":"findOne","x":1060,"y":560,"wires":[["de05d0bb.59e86"]]},{"id":"8f3fc722.7b70a8","type":"switch","z":"31154d95.d37f02","name":"checkEvent","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"new message","vt":"str"},{"t":"eq","v":"typing","vt":"str"},{"t":"eq","v":"stop typing","vt":"str"},{"t":"eq","v":"disconnect","vt":"str"},{"t":"eq","v":"join_room","vt":"str"},{"t":"eq","v":"leave_room","vt":"str"},{"t":"eq","v":"delete_msgQ","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":240.85916900634766,"y":395.69135093688965,"wires":[["52b2587e.200038"],["e30344d2.0dc8e8"],["e30344d2.0dc8e8"],["d9493f58.cbc58"],["f39611d2.58ee2"],["bb59db5b.783a28"],["b79176a9.621b28","fb17842b.5cdb48"]]},{"id":"2b5e3bcc.995574","type":"comment","z":"31154d95.d37f02","name":"Switch output","info":"1 new message\n2 add user\n3 typing\n4 stop typing\n5 disconnect","x":237.3591766357422,"y":467.44135570526123,"wires":[]},{"id":"faab9cbd.99b93","type":"function","z":"31154d95.d37f02","name":"send confirmation","func":"RED.util.setMessageProperty(msg, \"socketIOAddStaticProperties\",{username:msg.payload.username,room:msg.payload.room}, true);\nmsg.socketIOEvent = 'login';\nmsg.room=msg.payload.room;\nmsg.payload = {\n      \"status\": true,\n      \"numUsers\":msg.payload.numUsers\n    };\n\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":540,"wires":[["5759b7e8.c9c9c8"]]},{"id":"59f7fb10.aa7144","type":"function","z":"31154d95.d37f02","name":"On Joined","func":"RED.util.setMessageProperty(msg, \"socketIOAddStaticProperties\",{username:msg.payload.username,room:msg.payload.room}, true);\nmsg.socketIOEvent = 'user joined';\nmsg.room=msg.payload.room;\nmsg.username=msg.payload.username;\nmsg.payload = {\n      \"status\": msg.payload.username+\" joined \"+msg.payload.room,\n      \"numUsers\":msg.payload.numUsers\n    };\n\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\nreturn msg;","outputs":1,"noerr":0,"x":554.1389694213867,"y":579.0000886917114,"wires":[["5759b7e8.c9c9c8","cedc9ed8.97126"]]},{"id":"c0598ac6.4b2018","type":"switch","z":"31154d95.d37f02","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":418.8612060546875,"y":570.3333773612976,"wires":[["faab9cbd.99b93","59f7fb10.aa7144"],["b542085a.2328c8"]]},{"id":"b542085a.2328c8","type":"function","z":"31154d95.d37f02","name":"send confirmation","func":"msg.socketIOEvent = 'login';\nmsg.data=msg.payload;\nmsg.payload = {\n      \"status\": false\n    };\nreturn msg;","outputs":1,"noerr":0,"x":590.3612060546875,"y":622.583417892456,"wires":[["5759b7e8.c9c9c8"]]},{"id":"d9493f58.cbc58","type":"function","z":"31154d95.d37f02","name":"disconnect","func":"if(msg.socketIOStaticProperties!==undefined && msg.socketIOStaticProperties.logged !==false){\n    msg.socketIOEvent = 'user left';\n    msg.room=msg.socketIOStaticProperties.room;\n    msg.payload = {\n            username: msg.socketIOStaticProperties.username\n          };\n          \n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":450.85916900634766,"y":438.88580894470215,"wires":[["5759b7e8.c9c9c8","5811e5f3.39846c"]]},{"id":"52b2587e.200038","type":"function","z":"31154d95.d37f02","name":"new message","func":"msg.socketIOEvent = 'new message';\nmsg.room=msg.socketIOStaticProperties.room;\nmsg.data={\n    message:msg.payload,\n    from: msg.socketIOStaticProperties.username\n};\nmsg.payload = {username: msg.socketIOStaticProperties.username,\n                message: msg.payload\n};\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.room\", true);\nreturn msg;\n","outputs":1,"noerr":0,"x":453.3592071533203,"y":333.1358095407486,"wires":[["132ddea.73d4221","3d781dfb.a57ca2","99627a47.6b7238"]]},{"id":"e30344d2.0dc8e8","type":"function","z":"31154d95.d37f02","name":"typing","func":"msg.room = msg.socketIOStaticProperties.room;\nmsg.payload = {username: msg.socketIOStaticProperties.username};\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.room\", true);\nreturn msg;","outputs":1,"noerr":0,"x":432.85916900634766,"y":385.13580894470215,"wires":[["5759b7e8.c9c9c8"]]},{"id":"efacc0bc.4b5d2","type":"switch","z":"31154d95.d37f02","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":456.8787078857422,"y":816.6952629089355,"wires":[["4d42f884.8db208"]]},{"id":"4d42f884.8db208","type":"function","z":"31154d95.d37f02","name":"room leave","func":"if(msg.socketIOStaticProperties!==undefined){\n    RED.util.setMessageProperty(msg, \"socketIOAddStaticProperties\",{logged:false}, true);\n    msg.socketIOEvent = 'user left';\n    msg.payload = {\n            username: msg.socketIOStaticProperties.username\n          };\n          \n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":635.7360076904297,"y":816.8381538391113,"wires":[["5759b7e8.c9c9c8","5811e5f3.39846c"]]},{"id":"cedc9ed8.97126","type":"function","z":"31154d95.d37f02","name":"pr-process for query","func":"msg.payload = {\n    room_id: msg.room\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":838.5038146972656,"y":561.3476181030273,"wires":[["4183c249.79f5dc"]]},{"id":"de05d0bb.59e86","type":"switch","z":"31154d95.d37f02","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1280.2615699768066,"y":561.0858993530273,"wires":[["5bf51d87.377294"],["8cace83e.aefc08"]]},{"id":"46b932ad.7a2fec","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"4a196e77.12017","name":"","collection":"chat","operation":"insertOne","x":1593.004035949707,"y":625.1562204360962,"wires":[["f5741c21.b78c2"]]},{"id":"5bf51d87.377294","type":"function","z":"31154d95.d37f02","name":"pr-process ","func":"msg.payload = [{\n        room_id:msg.room\n    },\n    {\n        $addToSet:{\n            onlineUser:{\n                username:msg.username,\n                timestamp:new Date()\n            }\n        },\n        $pull:{\n            offlineUser:{\n                username:msg.username\n            }\n        }\n    }\n]\nmsg.timestamp=new Date();\nreturn msg;","outputs":1,"noerr":0,"x":1386.5079345703125,"y":490.0039072036743,"wires":[["faac63cf.c5d84"]]},{"id":"faac63cf.c5d84","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"4a196e77.12017","name":"","collection":"chat","operation":"update","x":1567.682960510254,"y":386.04909801483154,"wires":[["f5741c21.b78c2"]]},{"id":"5811e5f3.39846c","type":"function","z":"31154d95.d37f02","name":"pr-process for query","func":"msg.payload =[\n    {\n        room_id:msg.room\n    },\n    {\n        $push:{\n            offlineUser:{\n                username:msg.socketIOStaticProperties.username,\n                timestamp:new Date()\n            }\n        },\n        $pull:{\n            onlineUser:{\n                username:msg.socketIOStaticProperties.username\n            }\n        }\n    }\n];\n \n\nreturn msg;\n\n\n\n/**/","outputs":1,"noerr":0,"x":1029.8073425292969,"y":815.4454221725464,"wires":[["4ed1ffd9.897f5"]]},{"id":"4ed1ffd9.897f5","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"4a196e77.12017","name":"","collection":"chat","operation":"findOneAndUpdate","x":1301.6250648498535,"y":815.3477659225464,"wires":[[]]},{"id":"bb59db5b.783a28","type":"function","z":"31154d95.d37f02","name":"preprocess","func":"msg.room=msg.socketIOStaticProperties.room;\nmsg.payload={\n    \"room\":msg.socketIOStaticProperties.room,\n    \"username\":msg.socketIOStaticProperties.username\n};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":680,"wires":[["903dc9da.9d1958"]]},{"id":"132ddea.73d4221","type":"function","z":"31154d95.d37f02","name":"","func":"msg.payload =[\n    {\n        room_id:msg.room\n    },\n    { \n      offlineUser:1\n    }];\nreturn msg;","outputs":1,"noerr":0,"x":616.1286201477051,"y":242.61193752288818,"wires":[["8bbf07ba.c6b678"]]},{"id":"9283a852.3f63f8","type":"function","z":"31154d95.d37f02","name":"","func":"if(msg.payload.offlineUser !== undefined && msg.payload.offlineUser.length ==1)\n{\n    msg.payload.offline={\n        \n              timestamp:msg.payload.offlineUser[0].timestamp,\n              username:msg.payload.offlineUser[0].username\n         \n    };\nreturn msg;\n}","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["8acf632a.35898","b0ec9f6f.11713","d0633e32.a0f45"]]},{"id":"8cace83e.aefc08","type":"function","z":"31154d95.d37f02","name":"pr-process","func":"var user1 = msg.room.slice(0, 12);\nvar user2 = msg.room.slice(12, 24);\nvar x;\nif(user1 == msg.socketIOAddStaticProperties.username)\n  x=user2;\nelse\n  x=user1; \nmsg.payload = {\n    room_id:msg.room,\n    onlineUser:[{\n        username:msg.socketIOAddStaticProperties.username,\n        timestamp:new Date()\n    }],\n    offlineUser:[{\n        username:x,\n        timestamp:new Date()\n    }]\n}\nmsg.timestamp=new Date();\nreturn msg;","outputs":1,"noerr":0,"x":1392.5677490234375,"y":624.5246896743774,"wires":[["46b932ad.7a2fec"]]},{"id":"8acf632a.35898","type":"function","z":"31154d95.d37f02","name":"pr-process ","func":"msg.payload = [{\n        room_id:msg.room\n    },\n    {\n        $addToSet:{\n            msgQ:{\n                socketIDSender:msg.socketIOId,\n                message:msg.data.message.message,\n                _type:msg.data.message.type,\n                timestamp:msg.data.message.timestamp,\n                from:msg.data.from,\n                to:msg.payload.offline.username            \n                \n            }\n        },\n      \n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"x":1179.3828506469727,"y":239.95567417144775,"wires":[["a33f5d4b.166b3"]]},{"id":"a33f5d4b.166b3","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"6e070800.a89918","name":"","collection":"chat","operation":"update","x":1378.1291122436523,"y":240.85802364349365,"wires":[[]]},{"id":"8bbf07ba.c6b678","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"4a196e77.12017","name":"","collection":"chat","operation":"findOne","x":799.8826141357422,"y":241.8970890045166,"wires":[["9283a852.3f63f8"]]},{"id":"f5741c21.b78c2","type":"function","z":"31154d95.d37f02","name":"","func":"\nmsg.payload=[\n    { $match: {  room_id:msg.room} }, \n    { $project: {  msgQ:1} }, \n    { $unwind: {  path: \"$msgQ\",  preserveNullAndEmptyArrays: false} },\n    { $match: {  \"msgQ.to\":msg.username} }]\n\nreturn msg;","outputs":1,"noerr":0,"x":1855.383071899414,"y":525.8970804214478,"wires":[["fcd703ba.6fb48"]]},{"id":"fcd703ba.6fb48","type":"mongodb in","z":"31154d95.d37f02","mongodb":"3a671e3d.b86d82","name":"","collection":"chat","operation":"aggregate","x":2072.132637023926,"y":526.3814630508423,"wires":[["3cde0429.fbd41c"]]},{"id":"3cde0429.fbd41c","type":"function","z":"31154d95.d37f02","name":"batch pending message","func":"if(msg.payload[0]){\nmsg.socketIOEvent = 'new message';\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.room.bulk\", true);\nreturn msg;\n}","outputs":1,"noerr":0,"x":2376.8392333984375,"y":524.8357172012329,"wires":[["1096ba23.50af96","81802d27.e25e7"]]},{"id":"3d781dfb.a57ca2","type":"debug","z":"31154d95.d37f02","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1102.1079568862915,"y":366.1543798446655,"wires":[]},{"id":"1096ba23.50af96","type":"link out","z":"31154d95.d37f02","name":"","links":["c20b75e0.097e68"],"x":2532.478410720825,"y":526.5247049331665,"wires":[]},{"id":"c20b75e0.097e68","type":"link in","z":"31154d95.d37f02","name":"","links":["1096ba23.50af96"],"x":835,"y":300,"wires":[["5759b7e8.c9c9c8","3d781dfb.a57ca2"]]},{"id":"5d188f1f.ad3aa","type":"comment","z":"31154d95.d37f02","name":"pending - deletion of message (for discussion)","info":"","x":1522.716682434082,"y":307.00090980529785,"wires":[]},{"id":"be055e42.6fd0d","type":"debug","z":"31154d95.d37f02","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":420,"wires":[]},{"id":"b79176a9.621b28","type":"function","z":"31154d95.d37f02","name":"pr-process for query","func":"msg.payload =[\n    {\n        room_id:msg.payload.room\n    },\n    {\n        $pull:{\n            msgQ:{\n                timestamp:msg.payload.timestamp\n            }\n        }\n    }\n];\n \n\nreturn msg;\n\n\n\n/**/","outputs":1,"noerr":0,"x":360,"y":1080,"wires":[["592d7ca2.1973d4","fb17842b.5cdb48"]]},{"id":"592d7ca2.1973d4","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"4a196e77.12017","name":"","collection":"chat","operation":"findOneAndUpdate","x":631.8177223205566,"y":1079.90234375,"wires":[[]]},{"id":"fb17842b.5cdb48","type":"debug","z":"31154d95.d37f02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1000,"wires":[]},{"id":"e1a7da87.593e78","type":"debug","z":"31154d95.d37f02","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":100,"y":560,"wires":[]},{"id":"f39611d2.58ee2","type":"function","z":"31154d95.d37f02","name":"","func":"msg.payload.maxUsers = 2;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":480,"wires":[["3c7fe845.b0d0e8"]]},{"id":"81802d27.e25e7","type":"debug","z":"31154d95.d37f02","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":380,"wires":[]},{"id":"22c95aa2.9bf596","type":"socketio-in","z":"31154d95.d37f02","name":"","server":"31210e85.764f32","rules":[{"v":"new message"},{"v":"typing"},{"v":"stop typing"},{"v":"join_room"},{"v":"leave_room"},{"v":"delete_msgQ"}],"x":55.859169006347656,"y":394.9413528442383,"wires":[["8f3fc722.7b70a8","e1a7da87.593e78"]]},{"id":"5759b7e8.c9c9c8","type":"socketio-out","z":"31154d95.d37f02","name":"","server":"31210e85.764f32","x":845.8590469360352,"y":409.46918296813965,"wires":[]},{"id":"3c7fe845.b0d0e8","type":"socketio-join","z":"31154d95.d37f02","name":"","server":"31210e85.764f32","x":420,"y":520,"wires":[["c0598ac6.4b2018"]]},{"id":"903dc9da.9d1958","type":"socketio-leave","z":"31154d95.d37f02","name":"","server":"31210e85.764f32","x":477.3826560974121,"y":738.1484031677246,"wires":[["efacc0bc.4b5d2"]]},{"id":"ac20a5b4.daaa68","type":"http request","z":"31154d95.d37f02","name":"http POST to Google FCM","method":"POST","ret":"txt","url":"https://fcm.googleapis.com/fcm/send","tls":"","x":1760,"y":60,"wires":[["1eb54a3e.f8d6c6"]]},{"id":"ad9e2972.7f35e8","type":"function","z":"31154d95.d37f02","name":"set payload and headers","func":"var body;\nif(msg.data.message.type ==\"text\")\n   body=msg.data.username+\" sent you a message\";\nelse\n    body=msg.data.username+\" sent you a image\";\n\nmsg.payload = {\"to\": msg.regisToken,\n                \"data\": {\"type\": msg.data.message.type,\n                         \"timestamp\":msg.data.message.timestamp,\n                         \"mob_no\":msg.data.from,\n                         \"message\":msg.data.message.message,\n                         \"username\":msg.data.username\n                },\n                \"notification\":{\"body\" :body,\"title\":\"New Message\"}\n    \n};\nmsg.headers = {\"Authorization\": \"key=AAAAPbeqEy8:APA91bHSPlFZybmcDo_47wODa2Tmjr-E8n8C7VUnJCbvt-drn63XL5xl64XA9gP59V62rWGGnf_misOvmBVec8ysmSk9GBmNYdZdJfz-SeRAcm--jx60UZADc7u_k3kexx_16rfOapIs\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":1510,"y":60,"wires":[["ac20a5b4.daaa68","99e39bff.873a58"]]},{"id":"1eb54a3e.f8d6c6","type":"debug","z":"31154d95.d37f02","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":1970,"y":60,"wires":[]},{"id":"dc111bd4.fea628","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"4a196e77.12017","name":"","collection":"Users","operation":"findOne","x":2030,"y":120,"wires":[["227f383a.11d798"]]},{"id":"b0ec9f6f.11713","type":"function","z":"31154d95.d37f02","name":"","func":"msg.payload =[\n    {\n        mob_no:msg.payload.offline.username\n    },\n    {\n      regisToken:1\n    }];\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":120,"wires":[["d69fb964.d78d98"]]},{"id":"d69fb964.d78d98","type":"mongodb2 in","z":"31154d95.d37f02","service":"_ext_","configNode":"4a196e77.12017","name":"","collection":"Users","operation":"findOne","x":1670,"y":120,"wires":[["c7d1bf2b.ffaef"]]},{"id":"99e39bff.873a58","type":"debug","z":"31154d95.d37f02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1690,"y":20,"wires":[]},{"id":"c7d1bf2b.ffaef","type":"function","z":"31154d95.d37f02","name":"","func":"msg.regisToken=msg.payload.regisToken;\nmsg.payload =[\n    {\n        mob_no:msg.data.from\n    },\n    {\n      username:1\n    }];\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":120,"wires":[["dc111bd4.fea628"]]},{"id":"227f383a.11d798","type":"function","z":"31154d95.d37f02","name":"","func":"msg.data.username=msg.payload.username;\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":120,"wires":[["ad9e2972.7f35e8"]]},{"id":"6e070800.a89918","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/ChatApp","name":"ChatApp","options":"","parallelism":"-1"},{"id":"4a196e77.12017","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/ChatApp","name":"ChatApp","options":"","parallelism":"-1"},{"id":"3a671e3d.b86d82","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ChatApp","name":""},{"id":"31210e85.764f32","type":"socketio-config","z":"","port":"3000","sendClient":"true","path":"/socket.io","bindToNode":false}]