node_flow/gchat.json
[{"id":"b3457ad0.9477b8","type":"function","z":"ebdd8490.e2df68","name":"Pic Buffer","func":"msg.payload = msg.payload.pic;\nvar d=new Date();\nmsg.filename = \"ChatApp/\"+msg.room+\"/\"+d.getFullYear()+d.getMonth()+d.getDate()+d.getHours()+d.getMinutes()+d.getSeconds()+d.getMilliseconds()+\".jpg\";\nreturn msg; \n","outputs":1,"noerr":0,"x":1020,"y":40,"wires":[["8fb458c0.ed6758","c4843aad.9f1708"]]},{"id":"b93b265c.0a7f38","type":"base64","z":"ebdd8490.e2df68","name":"","action":"","property":"payload.pic","x":880,"y":40,"wires":[["b3457ad0.9477b8"]]},{"id":"2b0e9843.b67518","type":"function","z":"ebdd8490.e2df68","name":"","func":"msg.payload.pic=msg.payload.message.message;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":40,"wires":[["b93b265c.0a7f38"]]},{"id":"c4843aad.9f1708","type":"function","z":"ebdd8490.e2df68","name":"","func":"msg.data.message.message=msg.filename;\nmsg.payload = {username: msg.socketIOStaticProperties.username,\n                message: msg.data.message,\n                \n};\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":80,"wires":[["b65b540f.7f6ec8"]]},{"id":"8fb458c0.ed6758","type":"file","z":"ebdd8490.e2df68","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1170,"y":40,"wires":[]},{"id":"e6dedb41.d15488","type":"switch","z":"ebdd8490.e2df68","name":"","property":"data.message.type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"eq","v":"text","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":260,"wires":[["2b0e9843.b67518"],["b65b540f.7f6ec8"]]},{"id":"4c035465.070a0c","type":"switch","z":"ebdd8490.e2df68","name":"checkEvent","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"Group new message","vt":"str"},{"t":"eq","v":"Group typing","vt":"str"},{"t":"eq","v":"Group stop typing","vt":"str"},{"t":"eq","v":"Group disconnect","vt":"str"},{"t":"eq","v":"Group join_room","vt":"str"},{"t":"eq","v":"Group leave_room","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":430,"y":300,"wires":[["12117af3.0c1645"],["7639f366.7bb71c"],["7639f366.7bb71c"],["d6d0137b.7faeb"],["4200ed65.476334"],["343b759c.8ffb2a"]]},{"id":"1bdd28ce.e2bc27","type":"comment","z":"ebdd8490.e2df68","name":"Switch output","info":"1 new message\n2 add user\n3 typing\n4 stop typing\n5 disconnect","x":426.50000762939453,"y":371.7500047683716,"wires":[]},{"id":"79b5a85d.5e4888","type":"function","z":"ebdd8490.e2df68","name":"send confirmation","func":"RED.util.setMessageProperty(msg, \"socketIOAddStaticProperties\",{username:msg.payload.username,room:msg.payload.room}, true);\nmsg.socketIOEvent = 'Group login';\nmsg.room=msg.payload.room;\nmsg.payload = {\n      \"status\": true,\n      \"numUsers\":msg.payload.numUsers\n    };\n\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":464.2643232345581,"wires":[["b65b540f.7f6ec8"]]},{"id":"807ed9c4.ac5218","type":"function","z":"ebdd8490.e2df68","name":"On Joined","func":"RED.util.setMessageProperty(msg, \"socketIOAddStaticProperties\",{username:msg.payload.username,room:msg.payload.room}, true);\nmsg.socketIOEvent = 'Group user joined';\nmsg.room=msg.payload.room;\nmsg.username=msg.payload.username;\nmsg.payload = {\n      \"status\": msg.payload.username+\" joined \"+msg.payload.room,\n      \"numUsers\":msg.payload.numUsers\n    };\n\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\nreturn msg;","outputs":1,"noerr":0,"x":734.1389694213867,"y":503.26441192626953,"wires":[["b65b540f.7f6ec8"]]},{"id":"d6b5565f.2600a8","type":"switch","z":"ebdd8490.e2df68","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":608.8612060546875,"y":494.5977005958557,"wires":[["79b5a85d.5e4888","807ed9c4.ac5218"],["bdce4fd6.4e07e"]]},{"id":"bdce4fd6.4e07e","type":"function","z":"ebdd8490.e2df68","name":"send confirmation","func":"msg.socketIOEvent = 'Group login';\nmsg.data=msg.payload;\nmsg.payload = {\n      \"status\": false\n    };\nreturn msg;","outputs":1,"noerr":0,"x":780.3612060546875,"y":546.8477411270142,"wires":[["b65b540f.7f6ec8"]]},{"id":"d6d0137b.7faeb","type":"function","z":"ebdd8490.e2df68","name":"disconnect","func":"if(msg.socketIOStaticProperties!==undefined && msg.socketIOStaticProperties.logged !==false){\n    msg.socketIOEvent = 'Group user left';\n    msg.room=msg.socketIOStaticProperties.room;\n    msg.payload = {\n            username: msg.socketIOStaticProperties.username\n          };\n          \n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":640,"y":343.1944580078125,"wires":[["b65b540f.7f6ec8"]]},{"id":"12117af3.0c1645","type":"function","z":"ebdd8490.e2df68","name":"new message","func":"msg.socketIOEvent = 'Group new message';\nmsg.room=msg.socketIOStaticProperties.room;\nmsg.data={\n    message:msg.payload,\n    from: msg.socketIOStaticProperties.username,\n    timestamp:new Date()\n};\nmsg.payload = {username: msg.socketIOStaticProperties.username,\n                message: msg.payload\n};\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.room\", true);\nreturn msg;\n","outputs":1,"noerr":0,"x":642.5000381469727,"y":237.44445860385895,"wires":[["134c2ee2.9010d1","e6dedb41.d15488"]]},{"id":"7639f366.7bb71c","type":"function","z":"ebdd8490.e2df68","name":"typing","func":"msg.room = msg.socketIOStaticProperties.room;\nmsg.payload = {username: msg.socketIOStaticProperties.username};\nRED.util.setMessageProperty(msg, \"socketIOEmit\", \"broadcast.room\", true);\nreturn msg;","outputs":1,"noerr":0,"x":622,"y":289.4444580078125,"wires":[["b65b540f.7f6ec8"]]},{"id":"ec588910.f40c88","type":"switch","z":"ebdd8490.e2df68","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":646.0195388793945,"y":721.0039119720459,"wires":[["649233fe.8176cc"]]},{"id":"649233fe.8176cc","type":"function","z":"ebdd8490.e2df68","name":"room leave","func":"if(msg.socketIOStaticProperties!==undefined){\n    RED.util.setMessageProperty(msg, \"socketIOAddStaticProperties\",{logged:false}, true);\n    msg.socketIOEvent = 'Group user left';\n    msg.payload = {\n            username: msg.socketIOStaticProperties.username\n          };\n          \n    RED.util.setMessageProperty(msg, \"socketIOEmit\", \"room\", true);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":824.876838684082,"y":721.1468029022217,"wires":[["b65b540f.7f6ec8"]]},{"id":"343b759c.8ffb2a","type":"function","z":"ebdd8490.e2df68","name":"preprocess","func":"msg.room=msg.socketIOStaticProperties.room;\nmsg.payload={\n    \"room\":msg.socketIOStaticProperties.room,\n    \"username\":msg.socketIOStaticProperties.username\n};\nreturn msg;","outputs":1,"noerr":0,"x":639.1408309936523,"y":584.3086490631104,"wires":[["46b762ed.25aa9c"]]},{"id":"134c2ee2.9010d1","type":"debug","z":"ebdd8490.e2df68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1291.2487878799438,"y":270.4630289077759,"wires":[]},{"id":"e3080989.1b7a88","type":"debug","z":"ebdd8490.e2df68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1299.1408309936523,"y":324.30864906311035,"wires":[]},{"id":"4200ed65.476334","type":"function","z":"ebdd8490.e2df68","name":"","func":"msg.payload.maxUsers = 5;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":384.2643232345581,"wires":[["86da1f86.fa017"]]},{"id":"f3c104a5.9fa0a8","type":"socketio-in","z":"ebdd8490.e2df68","name":"","server":"31210e85.764f32","rules":[{"v":"Group new message"},{"v":"Group typing"},{"v":"Group stop typing"},{"v":"Group join_room"},{"v":"Group leave_room"},{"v":"Group delete_msgQ"}],"x":260,"y":304.2643232345581,"wires":[["4c035465.070a0c"]]},{"id":"b65b540f.7f6ec8","type":"socketio-out","z":"ebdd8490.e2df68","name":"","server":"31210e85.764f32","x":1034.9998779296875,"y":313.77783203125,"wires":[]},{"id":"86da1f86.fa017","type":"socketio-join","z":"ebdd8490.e2df68","name":"","server":"31210e85.764f32","x":630,"y":424.2643232345581,"wires":[["d6b5565f.2600a8"]]},{"id":"46b762ed.25aa9c","type":"socketio-leave","z":"ebdd8490.e2df68","name":"","server":"31210e85.764f32","x":666.5234870910645,"y":642.457052230835,"wires":[["ec588910.f40c88"]]},{"id":"31210e85.764f32","type":"socketio-config","z":"","port":"3000","sendClient":"true","path":"/socket.io","bindToNode":false}]