node_flow/login.json
[{"id":"d610d135.4cd2a","type":"http in","z":"59395345.b0172c","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":70,"y":180,"wires":[["298546a5.8e427a","c51ffdca.8efba"]]},{"id":"b1d011ef.cd8c2","type":"delay","z":"59395345.b0172c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":220,"wires":[["ea32eb1b.f9fd28"]]},{"id":"ea32eb1b.f9fd28","type":"function","z":"59395345.b0172c","name":"otp_expire","func":"var req;\nmsg.payload = [\n    {\"mob_no\":msg.req.body.mob_no},\n    {\"$unset\":{\n        \"otp\":1\n    }}\n];\nreturn msg;","outputs":1,"noerr":0,"x":664.2858810424805,"y":220.28575992584229,"wires":[["91ec7394.8b5ce"]]},{"id":"91ec7394.8b5ce","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"addf46bb.730048","name":"","collection":"Users","operation":"findOneAndUpdate","x":911.4285926818848,"y":220.00003719329834,"wires":[[]]},{"id":"298546a5.8e427a","type":"function","z":"59395345.b0172c","name":"login","func":"msg.payload = [\n    {\"mob_no\":msg.req.body.mob_no},\n    {\"$set\":{\n        \"otp\":\"true\"\n    }}\n];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["3f75850e.fa627a","b1d011ef.cd8c2"]]},{"id":"3f75850e.fa627a","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"addf46bb.730048","name":"","collection":"Users","operation":"findOneAndUpdate","x":580,"y":140,"wires":[["d7638959.38e658","7e7a00d1.97161"]]},{"id":"7e7a00d1.97161","type":"function","z":"59395345.b0172c","name":"Response","func":"msg.payload = {\n    \"mob_no\":msg.req.body.mob_no,\n    \"log_status\":\"true\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":80,"wires":[["591908a.36d9ff8"]]},{"id":"591908a.36d9ff8","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":910,"y":80,"wires":[]},{"id":"d7638959.38e658","type":"function","z":"59395345.b0172c","name":"Register","func":"if(msg.payload.lastErrorObject.updatedExisting===false)\nreturn msg;","outputs":1,"noerr":0,"x":815.714282989502,"y":141.42857456207275,"wires":[["dcc0240d.dcaf98"]]},{"id":"d7f77c0.0c8ec88","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"addf46bb.730048","name":"","collection":"Users","operation":"insert","x":1275.714282989502,"y":141.42857456207275,"wires":[[]]},{"id":"dcc0240d.dcaf98","type":"function","z":"59395345.b0172c","name":"Response","func":"msg.payload = {\n    \"mob_no\":msg.req.body.mob_no,\n        \"otp\":\"true\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":1095.714282989502,"y":141.42857456207275,"wires":[["d7f77c0.0c8ec88"]]},{"id":"1f02999e.5c42e6","type":"comment","z":"59395345.b0172c","name":"generate random otp here","info":"\n","x":230,"y":320,"wires":[]},{"id":"3c5d8800.025988","type":"comment","z":"59395345.b0172c","name":"otp expiration control","info":"\n","x":570,"y":320,"wires":[]},{"id":"407bf6c7.097608","type":"comment","z":"59395345.b0172c","name":"add and update db","info":"\n","x":570,"y":60,"wires":[]},{"id":"82461dfd.3e5f6","type":"comment","z":"59395345.b0172c","name":"Register response","info":"\n","x":1150,"y":40,"wires":[]},{"id":"240dc36d.1eeffc","type":"http in","z":"59395345.b0172c","name":"","url":"/update_profile","method":"post","upload":true,"swaggerDoc":"","x":120,"y":1320,"wires":[["7d26fff5.3a697","d4d65910.3aad28"]]},{"id":"14005a7b.7d71e6","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"907f4dc3.2d729","name":"","collection":"Users","operation":"findOneAndUpdate","x":1040,"y":1460,"wires":[["e0b1a918.6c6c68"]]},{"id":"e0b1a918.6c6c68","type":"function","z":"59395345.b0172c","name":"Response","func":"if(msg.payload.lastErrorObject.updatedExisting ===true)\n    msg.payload = {\"status\":\"true\"};\nelse\n    msg.payload = {\"status\":\"false\"};\nreturn msg;","outputs":1,"noerr":0,"x":1271.4287033081055,"y":1460.0000801086426,"wires":[["c3989376.35f2c"]]},{"id":"3d818d4c.10c2f2","type":"file","z":"59395345.b0172c","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":790,"y":1340,"wires":[]},{"id":"44e5e734.6675f8","type":"function","z":"59395345.b0172c","name":"Pic Buffer","func":"msg.payload = msg.payload.pic;\nmsg.filename = \"ChatApp/\"+msg.req.body.id+\"/profilepic.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1400,"wires":[["3d818d4c.10c2f2","78974a3a.b41d04"]]},{"id":"c3989376.35f2c","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1401.4287033081055,"y":1460.0000801086426,"wires":[]},{"id":"7d26fff5.3a697","type":"switch","z":"59395345.b0172c","name":"Req Pic Exist or not","property":"payload.pic","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":330,"y":1320,"wires":[["f9cf3d9e.2642b"],["ec69ad89.f12bf"]]},{"id":"4bf9d1eb.43ca8","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"907f4dc3.2d729","name":"","collection":"Users","operation":"findOneAndUpdate","x":760,"y":1240,"wires":[["98b72c55.6a7ad"]]},{"id":"f9cf3d9e.2642b","type":"function","z":"59395345.b0172c","name":"Update DB","func":"msg.payload = [{\"mob_no\":msg.req.body.mob_no},\n{$set:{\n    \"username\":msg.req.body.username,\n    \"regisToken\":msg.req.body.regisToken\n}}];\nreturn msg;","outputs":1,"noerr":0,"x":527,"y":1240,"wires":[["4bf9d1eb.43ca8"]]},{"id":"98b72c55.6a7ad","type":"function","z":"59395345.b0172c","name":"Response","func":"if(msg.payload.lastErrorObject.updatedExisting ===true)\n    msg.payload = {\"status\":\"true\"};\nelse\n    msg.payload = {\"status\":\"false\"};\nreturn msg;","outputs":1,"noerr":0,"x":990.0000419616699,"y":1240.0000171661377,"wires":[["d3938166.03ace"]]},{"id":"d3938166.03ace","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1129.9999961853027,"y":1240.0000162124634,"wires":[]},{"id":"40fee418.73da1c","type":"comment","z":"59395345.b0172c","name":"check_image_exist","info":"\n","x":270,"y":1420,"wires":[]},{"id":"7bbe89d2.2b8b78","type":"comment","z":"59395345.b0172c","name":"only data update","info":"\n","x":640,"y":1160,"wires":[]},{"id":"40ef36f8.1d9dd8","type":"comment","z":"59395345.b0172c","name":"update db and  image_url","info":"\n","x":690,"y":1520,"wires":[]},{"id":"1c3e804f.c2072","type":"comment","z":"59395345.b0172c","name":"bitmap to iimage on server","info":"\n","x":830,"y":1300,"wires":[]},{"id":"d4d65910.3aad28","type":"debug","z":"59395345.b0172c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":220,"y":1520,"wires":[]},{"id":"ec69ad89.f12bf","type":"base64","z":"59395345.b0172c","name":"","action":"","property":"payload.pic","x":520,"y":1400,"wires":[["44e5e734.6675f8"]]},{"id":"6f2b13a1.d52a8c","type":"http in","z":"59395345.b0172c","name":"","url":"/update_contact_list","method":"post","upload":true,"swaggerDoc":"","x":138.21932220458984,"y":1872.8267097473145,"wires":[["bfc8edc9.03ccc","a3c5ace2.b7016"]]},{"id":"34821970.4d4bd6","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"907f4dc3.2d729","name":"","collection":"Users","operation":"find.toArray","x":599.8859272003174,"y":1873.9380445480347,"wires":[["197c71b0.1a673e"]]},{"id":"bfc8edc9.03ccc","type":"function","z":"59395345.b0172c","name":"Search DB","func":"msg.payload = [{\"mob_no\":{$in:msg.payload.list}}];\nreturn msg;","outputs":1,"noerr":0,"x":359.8860092163086,"y":1873.197214126587,"wires":[["34821970.4d4bd6"]]},{"id":"6d204bcd.68d574","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1008.2194786071777,"y":1870.3402881622314,"wires":[]},{"id":"a3c5ace2.b7016","type":"debug","z":"59395345.b0172c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":334.89677320207875,"y":1774.3025910513743,"wires":[]},{"id":"197c71b0.1a673e","type":"function","z":"59395345.b0172c","name":"Convert","func":"msg.payload = {\"contactList\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":849.162694658552,"y":1877.1300010681152,"wires":[["6d204bcd.68d574","a3c5ace2.b7016"]]},{"id":"7c00998d.f63298","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"image/jpg"},"x":1125.891746520996,"y":2186.385753631592,"wires":[]},{"id":"f92f8138.ad87f","type":"file in","z":"59395345.b0172c","name":"","filename":"","format":"","sendError":true,"x":665.8917465209961,"y":2186.385753631592,"wires":[["b6669682.c79f68"]]},{"id":"e766f17.a3f3a1","type":"http in","z":"59395345.b0172c","name":"","url":"/ChatApp","method":"get","upload":false,"swaggerDoc":"","x":265.8917465209961,"y":2186.385753631592,"wires":[["2c882d2a.048902","cbdcd2d.99ba23"]]},{"id":"b6669682.c79f68","type":"function","z":"59395345.b0172c","name":"Set Content-Type header","func":"\nreturn msg;","outputs":1,"noerr":0,"x":905.8917465209961,"y":2186.385753631592,"wires":[["7c00998d.f63298","cbdcd2d.99ba23"]]},{"id":"2c882d2a.048902","type":"function","z":"59395345.b0172c","name":"File_Path","func":"msg.filename = \"ChatApp/\"+msg.payload.pic+\"/profilepic.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":475.8917465209961,"y":2186.385753631592,"wires":[["f92f8138.ad87f"]]},{"id":"cbdcd2d.99ba23","type":"debug","z":"59395345.b0172c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":751.6625709533691,"y":2057.3408699035645,"wires":[]},{"id":"c51ffdca.8efba","type":"debug","z":"59395345.b0172c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":100,"wires":[]},{"id":"78974a3a.b41d04","type":"function","z":"59395345.b0172c","name":"Update DB","func":"msg.payload = [{\"mob_no\":msg.req.body.mob_no},\n{$set:{\n    \"username\":msg.req.body.username,\n    \"pic\":\"profilepic.jpeg\"\n}}];\nreturn msg;","outputs":1,"noerr":0,"x":807,"y":1460,"wires":[["14005a7b.7d71e6"]]},{"id":"2487e036.2b5d7","type":"http in","z":"59395345.b0172c","name":"","url":"/auth","method":"post","upload":false,"swaggerDoc":"","x":161,"y":835.3333129882812,"wires":[["c0d883db.42612"]]},{"id":"c0d883db.42612","type":"function","z":"59395345.b0172c","name":"Search","func":"var req;\nmsg.payload = {\n    \"mob_no\":msg.req.body.mob_no\n};\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":837.3333129882812,"wires":[["2317938f.6ded5c"]]},{"id":"2317938f.6ded5c","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"dcfecb2d.df8538","name":"","collection":"Users","operation":"findOne","x":488,"y":837.3333129882812,"wires":[["c9c0d7ca.43a318","2f080dd.f8ce4f2"]]},{"id":"fd1e3d9.2d32dc","type":"function","z":"59395345.b0172c","name":"Otp Expire","func":"var req;\nmsg.payload = {\n    \"auth_status\":\"otp_expire\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1148,"y":757.3333129882812,"wires":[["a99d6ea3.aa727"]]},{"id":"c9c0d7ca.43a318","type":"switch","z":"59395345.b0172c","name":"OTP","property":"payload.otp","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":669.4286613464355,"y":835.9047698974609,"wires":[["fd1e3d9.2d32dc"],["fce2b475.eae3f8"]]},{"id":"fce2b475.eae3f8","type":"switch","z":"59395345.b0172c","name":"Otp Valid/Invalid","property":"payload.otp","propertyType":"msg","rules":[{"t":"neq","v":"req.body.otp","vt":"msg"},{"t":"eq","v":"req.body.otp","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":798,"y":897.3333129882812,"wires":[["97ee7946.001228"],["b80677ee.1af918"]]},{"id":"97ee7946.001228","type":"function","z":"59395345.b0172c","name":"Invalid otp","func":"\nmsg.payload = {\n    \"auth_status\":\"invalid_otp\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1148,"y":837.3333129882812,"wires":[["a99d6ea3.aa727"]]},{"id":"4d16304c.e87b8","type":"file in","z":"59395345.b0172c","name":"","filename":"","format":"","sendError":true,"x":1268,"y":1017.3333129882812,"wires":[["42e518ea.f7e9d8"]]},{"id":"77de335a.d4503c","type":"function","z":"59395345.b0172c","name":"ProfilePic","func":"msg.filename = \"ChatApp/\"+msg.payload._id+\"/profilepic.jpg\";\nmsg.data = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1138,"y":1017.3333129882812,"wires":[["4d16304c.e87b8"]]},{"id":"39311c08.b8d3b4","type":"function","z":"59395345.b0172c","name":"Response Without Pic","func":"var req;\nmsg.payload.auth_status = \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":900,"wires":[["a99d6ea3.aa727"]]},{"id":"b80677ee.1af918","type":"switch","z":"59395345.b0172c","name":"Pic exist/not","property":"payload.pic","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":978,"y":957.3333129882812,"wires":[["39311c08.b8d3b4"],["77de335a.d4503c"]]},{"id":"76428fef.7506d","type":"comment","z":"59395345.b0172c","name":"db search","info":"\n","x":298,"y":937.3333129882812,"wires":[]},{"id":"8e759a80.d395d8","type":"function","z":"59395345.b0172c","name":"Response with Pic ","func":"\nvar pic = msg.payload;\nmsg.payload = msg.data;\nmsg.payload.auth_status=\"true\";\nmsg.payload.pic = pic;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":1020,"wires":[["a99d6ea3.aa727"]]},{"id":"a99d6ea3.aa727","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1570,"y":820,"wires":[]},{"id":"b3a0f728.dc80a8","type":"comment","z":"59395345.b0172c","name":"image_decoding","info":"\n","x":1420,"y":1100,"wires":[]},{"id":"42e518ea.f7e9d8","type":"base64","z":"59395345.b0172c","name":"","action":"","property":"payload","x":1420,"y":1020,"wires":[["8e759a80.d395d8"]]},{"id":"2f080dd.f8ce4f2","type":"debug","z":"59395345.b0172c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":640,"wires":[]},{"id":"aa7ecdfe.c1a42","type":"http in","z":"59395345.b0172c","name":"","url":"/logout","method":"post","upload":false,"swaggerDoc":"","x":150,"y":440,"wires":[["3dd2c608.b1f6ea","325af0be.73bf5"]]},{"id":"3dd2c608.b1f6ea","type":"function","z":"59395345.b0172c","name":"regisToken_expire","func":"var req;\nmsg.payload = [\n    {\"mob_no\":msg.req.body.mob_no},\n    {\"$unset\":{\n        \"regisToken\":1\n    }}\n];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["a28e1416.6c5f78"]]},{"id":"a28e1416.6c5f78","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"addf46bb.730048","name":"","collection":"Users","operation":"findOneAndUpdate","x":680,"y":440,"wires":[["5c0637b5.d79018"]]},{"id":"325af0be.73bf5","type":"debug","z":"59395345.b0172c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":360,"wires":[]},{"id":"5c0637b5.d79018","type":"function","z":"59395345.b0172c","name":"Response","func":"msg.payload = {\n    \"mob_no\":msg.req.body.mob_no,\n    \"log_status\":\"true\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["34453cb4.ff53c4"]]},{"id":"34453cb4.ff53c4","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1090,"y":440,"wires":[]},{"id":"addf46bb.730048","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/ChatApp","name":"ChatApp","options":"","parallelism":"-1"},{"id":"907f4dc3.2d729","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/ChatApp","name":"ChatApp","options":"","parallelism":"-1"},{"id":"dcfecb2d.df8538","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/ChatApp","name":"ChatApp","options":"","parallelism":"-1"}]