node_flow/login.json
[{"id":"d610d135.4cd2a","type":"http in","z":"59395345.b0172c","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":210,"y":1640,"wires":[["aa2e12c5.e331a"]]},{"id":"b1d011ef.cd8c2","type":"delay","z":"59395345.b0172c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1680,"wires":[["ea32eb1b.f9fd28"]]},{"id":"ea32eb1b.f9fd28","type":"function","z":"59395345.b0172c","name":"otp_expire","func":"var req;\nmsg.payload = [\n    {\"mob_no\":msg.req.body.mob_no},\n    {\"$unset\":{\n        \"otp\":1\n    }}\n];\nreturn msg;","outputs":1,"noerr":0,"x":804.2858810424805,"y":1680.2857599258423,"wires":[["91ec7394.8b5ce"]]},{"id":"91ec7394.8b5ce","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"addf46bb.730048","name":"","collection":"Users","operation":"findOneAndUpdate","x":1051.4285926818848,"y":1680.0000371932983,"wires":[[]]},{"id":"298546a5.8e427a","type":"function","z":"59395345.b0172c","name":"login","func":"msg.payload = [\n    {\"mob_no\":msg.req.body.mob_no},\n    {\"$set\":{\n        \"otp\":msg.payload\n    }}\n];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1640,"wires":[["b1d011ef.cd8c2","3f75850e.fa627a"]]},{"id":"3f75850e.fa627a","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"addf46bb.730048","name":"","collection":"Users","operation":"findOneAndUpdate","x":720,"y":1600,"wires":[["d7638959.38e658","7e7a00d1.97161"]]},{"id":"7e7a00d1.97161","type":"function","z":"59395345.b0172c","name":"Response","func":"msg.payload = {\n    \"mob_no\":msg.req.body.mob_no,\n    \"log_status\":\"true\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1540,"wires":[["591908a.36d9ff8"]]},{"id":"591908a.36d9ff8","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1050,"y":1540,"wires":[]},{"id":"d7638959.38e658","type":"function","z":"59395345.b0172c","name":"Register","func":"if(msg.payload.lastErrorObject.updatedExisting===false)\nreturn msg;","outputs":1,"noerr":0,"x":955.714282989502,"y":1601.4285745620728,"wires":[["7b67b80b.c43158"]]},{"id":"d7f77c0.0c8ec88","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"addf46bb.730048","name":"","collection":"Users","operation":"insert","x":1415.714282989502,"y":1601.4285745620728,"wires":[[]]},{"id":"dcc0240d.dcaf98","type":"function","z":"59395345.b0172c","name":"Response","func":"msg.payload = {\n    \"mob_no\":msg.req.body.mob_no,\n        \"otp\":msg.payload\n    }\nreturn msg;","outputs":1,"noerr":0,"x":1235.714282989502,"y":1601.4285745620728,"wires":[["d7f77c0.0c8ec88"]]},{"id":"1f02999e.5c42e6","type":"comment","z":"59395345.b0172c","name":"generate random otp here","info":"\n","x":370,"y":1780,"wires":[]},{"id":"3c5d8800.025988","type":"comment","z":"59395345.b0172c","name":"otp expiration control","info":"\n","x":710,"y":1780,"wires":[]},{"id":"407bf6c7.097608","type":"comment","z":"59395345.b0172c","name":"add and update db","info":"\n","x":710,"y":1520,"wires":[]},{"id":"82461dfd.3e5f6","type":"comment","z":"59395345.b0172c","name":"Register response","info":"\n","x":1290,"y":1500,"wires":[]},{"id":"652c234e.be266c","type":"http in","z":"59395345.b0172c","name":"","url":"/auth","method":"post","upload":false,"swaggerDoc":"","x":203,"y":2138,"wires":[["4b397559.5b370c"]]},{"id":"4b397559.5b370c","type":"function","z":"59395345.b0172c","name":"Search","func":"var req;\nmsg.payload = {\n    \"mob_no\":msg.req.body.mob_no\n};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":2140,"wires":[["a7febd14.2ff97"]]},{"id":"a7febd14.2ff97","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"dcfecb2d.df8538","name":"","collection":"Users","operation":"findOne","x":530,"y":2140,"wires":[["81ede83a.5d7e28"]]},{"id":"3afcadad.3b2aa2","type":"function","z":"59395345.b0172c","name":"Otp Expire","func":"var req;\nmsg.payload = {\n    \"auth_status\":\"otp_expire\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":2060,"wires":[["22d91908.a1d816"]]},{"id":"81ede83a.5d7e28","type":"switch","z":"59395345.b0172c","name":"OTP","property":"payload.otp","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":711.4286613464355,"y":2138.5714569091797,"wires":[["3afcadad.3b2aa2"],["5f82cfc9.c82d1"]]},{"id":"5f82cfc9.c82d1","type":"switch","z":"59395345.b0172c","name":"Otp Valid/Invalid","property":"payload.otp","propertyType":"msg","rules":[{"t":"neq","v":"req.body.otp","vt":"msg"},{"t":"eq","v":"req.body.otp","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":2200,"wires":[["a3eb84fb.65acc8"],["f9dac881.60c8d8"]]},{"id":"a3eb84fb.65acc8","type":"function","z":"59395345.b0172c","name":"Invalid otp","func":"var req;\nmsg.payload = {\n    \"auth_status\":\"invalid_otp\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":2140,"wires":[["22d91908.a1d816"]]},{"id":"2d095fe.70710a","type":"function","z":"59395345.b0172c","name":"Response with Pic ","func":"\nvar pic = msg.payload;\nmsg.payload = msg.data;\nmsg.payload.auth_status=\"true\";\nmsg.payload.pic = pic;\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":2320,"wires":[["22d91908.a1d816"]]},{"id":"22d91908.a1d816","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1590,"y":2120,"wires":[]},{"id":"35207a2b.1ead36","type":"file in","z":"59395345.b0172c","name":"","filename":"","format":"","sendError":true,"x":1310,"y":2320,"wires":[["53e0cb05.fe3214"]]},{"id":"76132ec4.5e79","type":"function","z":"59395345.b0172c","name":"ProfilePic","func":"msg.filename = \"ChatApp/\"+msg.payload._id+\"/profilepic.jpg\";\nmsg.data = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":2320,"wires":[["35207a2b.1ead36"]]},{"id":"cf64eb18.dfd7f8","type":"function","z":"59395345.b0172c","name":"Response Without Pic","func":"var req;\nmsg.payload.auth_status = \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":2220,"wires":[["22d91908.a1d816"]]},{"id":"f9dac881.60c8d8","type":"switch","z":"59395345.b0172c","name":"Pic exist/not","property":"payload.pic","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":2260,"wires":[["cf64eb18.dfd7f8"],["76132ec4.5e79"]]},{"id":"29f5069.4031cfa","type":"comment","z":"59395345.b0172c","name":"db search","info":"\n","x":340,"y":2240,"wires":[]},{"id":"90b3a4d8.5bcf88","type":"comment","z":"59395345.b0172c","name":"image_decoding","info":"\n","x":1440,"y":2400,"wires":[]},{"id":"240dc36d.1eeffc","type":"http in","z":"59395345.b0172c","name":"","url":"/update_profile","method":"post","upload":true,"swaggerDoc":"","x":260,"y":2780,"wires":[["7d26fff5.3a697","d4d65910.3aad28"]]},{"id":"14005a7b.7d71e6","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"907f4dc3.2d729","name":"","collection":"Users","operation":"findOneAndUpdate","x":1180,"y":2920,"wires":[["e0b1a918.6c6c68"]]},{"id":"e0b1a918.6c6c68","type":"function","z":"59395345.b0172c","name":"Response","func":"if(msg.payload.lastErrorObject.updatedExisting ===true)\n    msg.payload = {\"status\":\"true\"};\nelse\n    msg.payload = {\"status\":\"false\"};\nreturn msg;","outputs":1,"noerr":0,"x":1411.4287033081055,"y":2920.0000801086426,"wires":[["c3989376.35f2c"]]},{"id":"3d818d4c.10c2f2","type":"file","z":"59395345.b0172c","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":930,"y":2800,"wires":[]},{"id":"44e5e734.6675f8","type":"function","z":"59395345.b0172c","name":"Pic Buffer","func":"msg.payload = msg.payload.pic;\nmsg.filename = \"ChatApp/\"+msg.req.body.id+\"/profilepic.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":2860,"wires":[["3d818d4c.10c2f2","78974a3a.b41d04"]]},{"id":"c3989376.35f2c","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1541.4287033081055,"y":2920.0000801086426,"wires":[]},{"id":"7d26fff5.3a697","type":"switch","z":"59395345.b0172c","name":"Req Pic Exist or not","property":"payload.pic","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":2780,"wires":[["f9cf3d9e.2642b"],["ec69ad89.f12bf"]]},{"id":"4bf9d1eb.43ca8","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"907f4dc3.2d729","name":"","collection":"Users","operation":"findOneAndUpdate","x":900,"y":2700,"wires":[["98b72c55.6a7ad"]]},{"id":"f9cf3d9e.2642b","type":"function","z":"59395345.b0172c","name":"Update DB","func":"msg.payload = [{\"mob_no\":msg.req.body.mob_no},\n{$set:{\n    \"username\":msg.req.body.username,\n    \"regisToken\":msg.req.body.regisToken\n}}];\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":2700,"wires":[["4bf9d1eb.43ca8"]]},{"id":"98b72c55.6a7ad","type":"function","z":"59395345.b0172c","name":"Response","func":"if(msg.payload.lastErrorObject.updatedExisting ===true)\n    msg.payload = {\"status\":\"true\"};\nelse\n    msg.payload = {\"status\":\"false\"};\nreturn msg;","outputs":1,"noerr":0,"x":1130.00004196167,"y":2700.0000171661377,"wires":[["d3938166.03ace"]]},{"id":"d3938166.03ace","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1269.9999961853027,"y":2700.0000162124634,"wires":[]},{"id":"40fee418.73da1c","type":"comment","z":"59395345.b0172c","name":"check_image_exist","info":"\n","x":410,"y":2880,"wires":[]},{"id":"7bbe89d2.2b8b78","type":"comment","z":"59395345.b0172c","name":"only data update","info":"\n","x":780,"y":2620,"wires":[]},{"id":"40ef36f8.1d9dd8","type":"comment","z":"59395345.b0172c","name":"update db and  image_url","info":"\n","x":830,"y":2980,"wires":[]},{"id":"1c3e804f.c2072","type":"comment","z":"59395345.b0172c","name":"bitmap to iimage on server","info":"\n","x":970,"y":2760,"wires":[]},{"id":"d4d65910.3aad28","type":"debug","z":"59395345.b0172c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":360,"y":2980,"wires":[]},{"id":"aa2e12c5.e331a","type":"random","z":"59395345.b0172c","name":"","low":"1111","high":"9999","inte":"true","property":"payload","x":380,"y":1640,"wires":[["298546a5.8e427a","c51ffdca.8efba"]]},{"id":"7b67b80b.c43158","type":"random","z":"59395345.b0172c","name":"","low":"1111","high":"9999","inte":"true","property":"payload","x":1095.714282989502,"y":1601.4285745620728,"wires":[["dcc0240d.dcaf98"]]},{"id":"53e0cb05.fe3214","type":"base64","z":"59395345.b0172c","name":"","action":"","property":"payload","x":1440,"y":2320,"wires":[["2d095fe.70710a"]]},{"id":"ec69ad89.f12bf","type":"base64","z":"59395345.b0172c","name":"","action":"","property":"payload.pic","x":660,"y":2860,"wires":[["44e5e734.6675f8"]]},{"id":"6f2b13a1.d52a8c","type":"http in","z":"59395345.b0172c","name":"","url":"/update_contact_list","method":"post","upload":true,"swaggerDoc":"","x":278.21932220458984,"y":3332.8267097473145,"wires":[["bfc8edc9.03ccc","a3c5ace2.b7016"]]},{"id":"34821970.4d4bd6","type":"mongodb2 in","z":"59395345.b0172c","service":"_ext_","configNode":"907f4dc3.2d729","name":"","collection":"Users","operation":"find.toArray","x":739.8859272003174,"y":3333.9380445480347,"wires":[["197c71b0.1a673e"]]},{"id":"bfc8edc9.03ccc","type":"function","z":"59395345.b0172c","name":"Search DB","func":"msg.payload = [{\"mob_no\":{$in:msg.payload.list}}];\nreturn msg;","outputs":1,"noerr":0,"x":499.8860092163086,"y":3333.197214126587,"wires":[["34821970.4d4bd6"]]},{"id":"6d204bcd.68d574","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":1148.2194786071777,"y":3330.3402881622314,"wires":[]},{"id":"a3c5ace2.b7016","type":"debug","z":"59395345.b0172c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":474.89677320207875,"y":3234.3025910513743,"wires":[]},{"id":"197c71b0.1a673e","type":"function","z":"59395345.b0172c","name":"Convert","func":"msg.payload = {\"contactList\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":989.162694658552,"y":3337.1300010681152,"wires":[["6d204bcd.68d574","a3c5ace2.b7016"]]},{"id":"7c00998d.f63298","type":"http response","z":"59395345.b0172c","name":"","statusCode":"","headers":{"content-type":"image/jpg"},"x":1265.891746520996,"y":3646.385753631592,"wires":[]},{"id":"f92f8138.ad87f","type":"file in","z":"59395345.b0172c","name":"","filename":"","format":"","sendError":true,"x":805.8917465209961,"y":3646.385753631592,"wires":[["b6669682.c79f68"]]},{"id":"e766f17.a3f3a1","type":"http in","z":"59395345.b0172c","name":"","url":"/ChatApp","method":"get","upload":false,"swaggerDoc":"","x":405.8917465209961,"y":3646.385753631592,"wires":[["2c882d2a.048902","cbdcd2d.99ba23"]]},{"id":"b6669682.c79f68","type":"function","z":"59395345.b0172c","name":"Set Content-Type header","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1045.891746520996,"y":3646.385753631592,"wires":[["7c00998d.f63298","cbdcd2d.99ba23"]]},{"id":"2c882d2a.048902","type":"function","z":"59395345.b0172c","name":"File_Path","func":"msg.filename = \"ChatApp/\"+msg.payload.pic+\"/profilepic.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":615.8917465209961,"y":3646.385753631592,"wires":[["f92f8138.ad87f"]]},{"id":"cbdcd2d.99ba23","type":"debug","z":"59395345.b0172c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":891.6625709533691,"y":3517.3408699035645,"wires":[]},{"id":"c51ffdca.8efba","type":"debug","z":"59395345.b0172c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1560,"wires":[]},{"id":"78974a3a.b41d04","type":"function","z":"59395345.b0172c","name":"Update DB","func":"msg.payload = [{\"mob_no\":msg.req.body.mob_no},\n{$set:{\n    \"username\":msg.req.body.username,\n    \"pic\":\"profilepic.jpeg\"\n}}];\nreturn msg;","outputs":1,"noerr":0,"x":947,"y":2920,"wires":[["14005a7b.7d71e6"]]},{"id":"addf46bb.730048","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/ChatApp","name":"ChatApp","options":"","parallelism":"-1"},{"id":"dcfecb2d.df8538","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/ChatApp","name":"ChatApp","options":"","parallelism":"-1"},{"id":"907f4dc3.2d729","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/ChatApp","name":"ChatApp","options":"","parallelism":"-1"}]